a {
    color: white;
}

.navbar {
    background: black;
    color: white;
    float: right;
}


.flex-row{


}

.flex-column{
 flex-direction:column;
 justify-content: center;
 text-align: center;

}

.inputWidth{
  width:200px;
  }