<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="css/stylesExample.css">
</head>
<body>
<div class="chat-container">
  <div class="chat-header">
    Chat Room
  </div>
  <div class="chat-messages" id="chatMessages">
    <!-- Messages will be added here -->
  </div>
  <div class="chat-input">
    <input type="text" id="messageInput" placeholder="Type your message...">
    <button id="sendButton">Send</button>
  </div>
</div>
<script src="main.js"></script>
</body>
</html>