<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="css/stylesMainPage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<script src="/js/mainPage.js"></script>


<nav class="navbar">
    <span id="loggedUser" th:text="${loggedInUser}"></span>
    <a th:href="@{/logout}">Logout</a>
    <input type="hidden" th:value="${userId}" id="userId" name="userId">
</nav>

<h1 class="center" id="mainHeader">Chat Application </h1>

<div class="container">
    <div class="left-column">
        <h2>Search users</h2>
        <input class="inputWidth" type="search" id="searchInput" name="searchInput" placeholder="Search for users...">
        <div id="selectContainer"></div>
        <div id="lastConversations" class="bottom-right"></div>
    </div>

    <div class="right-column">
        <div class="message-container" id="messagesContainer"></div>
        <div class="bottom-right">
            <input class="inputMessage" type="text" id="messageInput" placeholder="Message" hidden>
            <button class="sendButton" id="sendButton" onclick="sendMessage()" hidden>Send</button>
        </div>
    </div>
</div>


</body>
</html>